body {
    padding: 10px;
}

#watchlist {
text-align: center;
}

.seprater {


}

.comments {
  text-align: center;
  p,h6 {
    text-align: center;
  }
}
.container {
  padding: 20px;
}

.b-g{
  background-color: lightblue;
}

#result {
  h3,h1{
      text-align: center;
  }
  text-align: left;
}
